Flask==2.1.0
requests==2.26.0
python-dotenv==0.19.2
pyodbc==4.0.30
Werkzeug==2.1.0
pyodbc
fastapi
uvicorn[standard]
pydantic
azure-identity
gunicorn
Jinja2==3.2.1
traceback
gunicorn==20.1.0
traceback
